<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <div class="hero-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="title">Premium Coffee Blends</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <div class="hero-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="title">Enhance your mornings</span>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="hero-img">
      <div class="call-to-action">
        <h4>Don't waste your life on horrible coffee any longer.</h4>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Subscribe Now
        </button>
      </div>
    </div>
  </div>
</div>



